{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block body %}

	{% if produit.Image is not null %}
		<img src="{{ asset('uploads/' ~ produit.Image) }}">
	{% endif %}
	
	<h1>{{ produit.nom }}</h1>
	<p>{{'produit.Quantite'|trans}}:
            {{produit.Quantite}}</p>
        <p>{{'produit.Prix'|trans}}:
		{{produit.Prix}}€</p>

	<td>
    	<a href="{{ path('produit_delete' , {'id':produit.id})}}">
        <p>{{'Supprimer'|trans}}</p>
		</a>
    </td>

	
	<h3>{{'Ajouter au Panier'|trans({'nom':produit.nom})}}
		{{produit.nom}}
	</h3>
	{{form(form_ajout_panier)}}
{% endblock %}